.App {
  text-align: center;
}
.cart-icon {
  font-size: 26px;
  padding-right: 13px;
  color: #2680ef;
}
.num-cart {
  font-size: 18px;
  color: red;
  font-weight: 600;
}

.onShowModal {
  opacity: 0;
}

.billPrice {
  font-weight: 600;
  font-family: Tahoma;
  color: red;
  font-size: 20px;
}
